// Code generated by Fern. DO NOT EDIT.

package agentmanagement

import (
	context "context"
	Agora "github.com/fern-demo/agoraio-go-sdk/v505"
	core "github.com/fern-demo/agoraio-go-sdk/v505/core"
	internal "github.com/fern-demo/agoraio-go-sdk/v505/internal"
	option "github.com/fern-demo/agoraio-go-sdk/v505/option"
	http "net/http"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Create and start a Conversational AI agent instance.
func (c *Client) Start(
	ctx context.Context,
	// The App ID of the project.
	appid string,
	request *Agora.AgentManagementStartRequest,
	opts ...option.RequestOption,
) (*Agora.AgentManagementStartResponse, error) {
	response, err := c.WithRawResponse.Start(
		ctx,
		appid,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve a list of agents that meet the specified conditions.
func (c *Client) List(
	ctx context.Context,
	// The App ID of the project.
	appid string,
	request *Agora.AgentManagementListRequest,
	opts ...option.RequestOption,
) (*core.Page[*Agora.AgentManagementListResponseDataListItem], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.agora.io/api/conversational-ai-agent",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v2/projects/%v/agents",
		appid,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *internal.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *Agora.AgentManagementListResponse) *internal.PageResponse[*string, *Agora.AgentManagementListResponseDataListItem] {
		var zeroValue *string
		var next *string
		if response.Meta != nil {
			next = response.Meta.Cursor
		}
		results := response.GetData().GetList()
		return &internal.PageResponse[*string, *Agora.AgentManagementListResponseDataListItem]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Get the current state information of the specified agent instance.
func (c *Client) Get(
	ctx context.Context,
	// The App ID of the project.
	appid string,
	// The agent instance ID you obtained after successfully calling `join` to start a conversational AI agent.
	agentID string,
	opts ...option.RequestOption,
) (*Agora.AgentManagementGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		appid,
		agentID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Get the history of the conversation between the user and the agent.
//
// Call this endpoint while the agent is running to retrieve the conversation history. You can set the maximum number of cached entries using the `llm.max_history` parameter when calling the start agent endpoint. The default value is `32`.
func (c *Client) GetHistory(
	ctx context.Context,
	// The App ID of the project.
	appid string,
	// The agent instance ID you obtained after successfully calling `join` to start a conversational AI agent.
	agentID string,
	opts ...option.RequestOption,
) (*Agora.AgentManagementGetHistoryResponse, error) {
	response, err := c.WithRawResponse.GetHistory(
		ctx,
		appid,
		agentID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Stop the specified conversational agent instance.
func (c *Client) Stop(
	ctx context.Context,
	// The App ID of the project.
	appid string,
	// The agent instance ID you obtained after successfully calling `join` to start a conversational AI agent.
	agentID string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Stop(
		ctx,
		appid,
		agentID,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Adjust Conversation AI Engine parameters at runtime.
func (c *Client) Update(
	ctx context.Context,
	// The App ID of the project.
	appid string,
	// The agent instance ID you obtained after successfully calling `join` to start a conversational AI agent.
	agentID string,
	request *Agora.AgentManagementUpdateRequest,
	opts ...option.RequestOption,
) (*Agora.AgentManagementUpdateResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		appid,
		agentID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Broadcast a custom message using the TTS module.
//
// During a conversation with an agent, call this endpoint to immediately broadcast a custom message using the TTS module. Upon receiving the request, the system interrupts the agent's speech and thought process to deliver the message. This broadcast can be interrupted by human voice.
//
// Note: The speak API is not supported when using `mllm` configuration.
func (c *Client) Speak(
	ctx context.Context,
	// The App ID of the project.
	appid string,
	// The agent instance ID you obtained after successfully calling `join` to start a conversational AI agent.
	agentID string,
	request *Agora.AgentManagementSpeakRequest,
	opts ...option.RequestOption,
) (*Agora.AgentManagementSpeakResponse, error) {
	response, err := c.WithRawResponse.Speak(
		ctx,
		appid,
		agentID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Interrupt the specified agent while speaking or thinking.
func (c *Client) Interrupt(
	ctx context.Context,
	// The App ID of the project.
	appid string,
	// The agent instance ID you obtained after successfully calling `join` to start a conversational AI agent.
	agentID string,
	request *Agora.AgentManagementInterruptRequest,
	opts ...option.RequestOption,
) (*Agora.AgentManagementInterruptResponse, error) {
	response, err := c.WithRawResponse.Interrupt(
		ctx,
		appid,
		agentID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
