// Code generated by Fern. DO NOT EDIT.

package agents

import (
	context "context"
	Agora "github.com/AgoraIO/agora-agents-go"
	core "github.com/AgoraIO/agora-agents-go/core"
	internal "github.com/AgoraIO/agora-agents-go/internal"
	option "github.com/AgoraIO/agora-agents-go/option"
	http "net/http"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Create and start a Conversational AI agent instance.
func (c *Client) Start(
	ctx context.Context,
	request *Agora.StartAgentsRequest,
	opts ...option.RequestOption,
) (*Agora.StartAgentsResponse, error) {
	response, err := c.WithRawResponse.Start(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve a list of agents that meet the specified conditions.
func (c *Client) List(
	ctx context.Context,
	request *Agora.ListAgentsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *Agora.ListAgentsResponseDataListItem], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.agora.io/api/conversational-ai-agent",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v2/projects/%v/agents",
		request.Appid,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *Agora.ListAgentsResponse) *core.PageResponse[*string, *Agora.ListAgentsResponseDataListItem] {
		var zeroValue *string
		var next *string
		if response.Meta != nil {
			next = response.Meta.Cursor
		}
		results := response.GetData().GetList()
		return &core.PageResponse[*string, *Agora.ListAgentsResponseDataListItem]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Get the current state information of the specified agent instance.
func (c *Client) Get(
	ctx context.Context,
	request *Agora.GetAgentsRequest,
	opts ...option.RequestOption,
) (*Agora.GetAgentsResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Get the history of the conversation between the user and the agent.
//
// Call this endpoint while the agent is running to retrieve the conversation history. You can set the maximum number of cached entries using the `llm.max_history` parameter when calling the start agent endpoint. The default value is `32`.
func (c *Client) GetHistory(
	ctx context.Context,
	request *Agora.GetHistoryAgentsRequest,
	opts ...option.RequestOption,
) (*Agora.GetHistoryAgentsResponse, error) {
	response, err := c.WithRawResponse.GetHistory(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Query conversation turn information for a conversational AI agent session.
//
// After a conversation with the agent ends, use this endpoint to query the conversation turn information, including the start information, end information, and performance metrics of each conversation turn.
//
// You can query sessions within the last 7 days.
func (c *Client) GetTurns(
	ctx context.Context,
	request *Agora.GetTurnsAgentsRequest,
	opts ...option.RequestOption,
) (*Agora.GetTurnsAgentsResponse, error) {
	response, err := c.WithRawResponse.GetTurns(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Stop the specified conversational agent instance. The API responds after request parameters are validated, and the stop operation is processed asynchronously after the response is returned.
func (c *Client) Stop(
	ctx context.Context,
	request *Agora.StopAgentsRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Stop(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Adjust Conversation AI Engine parameters at runtime.
func (c *Client) Update(
	ctx context.Context,
	request *Agora.UpdateAgentsRequest,
	opts ...option.RequestOption,
) (*Agora.UpdateAgentsResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Broadcast a custom message using the TTS module.
//
// During a conversation with an agent, call this endpoint to immediately broadcast a custom message using the TTS module. Upon receiving the request, the system interrupts the agent's speech and thought process to deliver the message. This broadcast can be interrupted by human voice.
//
// Note: The speak API is not supported when using `mllm` configuration.
func (c *Client) Speak(
	ctx context.Context,
	request *Agora.SpeakAgentsRequest,
	opts ...option.RequestOption,
) (*Agora.SpeakAgentsResponse, error) {
	response, err := c.WithRawResponse.Speak(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Interrupt the specified agent while speaking or thinking.
func (c *Client) Interrupt(
	ctx context.Context,
	request *Agora.InterruptAgentsRequest,
	opts ...option.RequestOption,
) (*Agora.InterruptAgentsResponse, error) {
	response, err := c.WithRawResponse.Interrupt(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
